<section class="my-10 mt-20">
<div class="max-w-lg mx-auto shadow border border-gray-100 p-10 rounded-2xl">
    <h2 class="mb-5 text-2xl">Register Now:</h2>

    <form [formGroup]="authForm" (ngSubmit)="submitInput()">
        <div class="max-w-lg mx-auto mb-5">
            <input type="text"  formControlName="name"  class="main-input" placeholder="Enter Your Name"  />
            <validation-messages [controls]="authForm.get('name')"/>
        </div>
        <div class="max-w-lg mx-auto mb-5">
            <input type="email" formControlName="email" class="main-input" placeholder="Enter Your Email"  />
            <validation-messages [controls]="authForm.get('email')"/>
        </div>
        <div class="max-w-lg mx-auto mb-5">
            <input type="password" formControlName="password"  class="main-input" placeholder="Enter Your Password"  />
            <validation-messages [controls]="authForm.get('password')"/>
        </div>
        <div class="max-w-lg mx-auto mb-5">
            <input type="password" formControlName="rePassword"  class="main-input" placeholder="Enter Your RePassword"  />
            <validation-messages [controls]="authForm.get('rePassword')"/>
        </div>
        <div class="max-w-lg mx-auto mb-5">
            <button  class="main-btn opacity-100 translate-y-0 mt-4">submit</button>
        </div>
    </form>
</div>
</section>