<section class="my-10 mt-20">
<div class="max-w-lg mx-auto shadow border border-gray-100 p-10 rounded-2xl">
    <h2 class="mb-5 text-2xl">Register Now:</h2>

    <form >
        <div class="max-w-lg mx-auto mb-5">
            <input type="text" id="name"  class="main-input" placeholder="Enter Your Name"  />
        </div>
        <div class="max-w-lg mx-auto mb-5">
            <input type="email" id="email" class="main-input" placeholder="Enter Your Email"  />
        </div>
        <div class="max-w-lg mx-auto mb-5">
            <input type="password" id="pass"  class="main-input" placeholder="Enter Your Password"  />
        </div>
        <div class="max-w-lg mx-auto mb-5">
            <input type="password" id="rePass"  class="main-input" placeholder="Enter Your RePassword"  />
        </div>
        <div class="max-w-lg mx-auto mb-5">
            <button (click)="submitInput()" class="main-btn opacity-100 translate-y-0 mt-4">submit</button>
        </div>
    </form>

</div>
</section>